@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 2px;
    padding: 5px;;
    box-sizing: border-box;
}
    .green {
        color:lightgreen;
        align-items: right;
    }
    .red {
        color:lightcoral;
    }
    .blue {
        color:rgb(137, 135, 235)
        
    }
    #itemList { font-size: 1.5rem;}
    .show { display: none;}
    .hide { display: none;}
    .button{
      color:lightcoral;

  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .add{
    background-color: rgb(83, 31, 228);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: 2px ;
    transition: 0.5s;
  }
 
  .add:hover{
    opacity: 0.7;
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
                0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
  
    text-shadow: 0 0 5px;		
  
  }
    h1 {
        color: #fff;
        font-size: 3rem;
        background: -webkit-linear-gradient(rgb(83, 31, 228), rgb(83, 31, 228));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        text-align: center;
        margin: 1rem; 
        font-family: 'Hind', sans-serif;
    }
    .modal-header{
      background: -webkit-linear-gradient(rgb(83, 31, 228), rgb(83, 31, 228));
      padding: 0rem;
    }
    .modal-footer{
      padding: 0rem;
    }
    a{
        color:rgb(83, 31, 228);
        font-family:'Ubuntu', sans-serif;
        font-weight: bold;
    }

    body{
      
        background-image: linear-gradient(#a1c4fd,#c2e9fb);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;  
    }
    h2{
        color:white;
        font-family:'Ubuntu', sans-serif;
    }
   #itemForm{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
   }    
      
   